<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <!--import other spring xml configuration-->
    <!--<import resource="DataSource.xml"></import>-->

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://47.94.207.2:3306/personal_portal"/>
        <property name="username" value="root"/>
        <property name="password" value="1"/>
    </bean>

    <!--configure object genarate-->
    <bean id="user" class="cn.xidian.edu.Dao.User"></bean>
    <bean id="personInfo" class="cn.xidian.edu.Dao.PersonInfo"></bean>
    <bean id="userImpl" class="cn.xidian.edu.DaoImpl.UserImpl">
        <!--<property name="connection" ref="dbConnection"></property>-->
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <bean id="dbConnection" class="cn.xidian.edu.Dao.DBConnection">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <context:component-scan base-package="cn.xidian.edu.*" />



</beans>